# Configuración automática de datasources para Grafana
apiVersion: 1

datasources:
  # Prometheus - Fuente principal de métricas
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      httpMethod: POST
      timeInterval: 15s
